<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>物品管理システム</title>
    <!-- スタイルシートはココに入れる -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>

  <!--   jQuery・bootstrapライブラリ読み込み -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!--  /jQuery・bootstrapライブラリ読み込み -->

<!-- 独自ライブラリ読み込み -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js" ></script>
<!--  /独自ライブラリ読み込み -->

<script>
  $(function(){
      // datatableの設定を変更
      $("#table1").DataTable({
          "language": {
              "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
          }
      });
  });
</script>

<body>

{{template "header" .}}
{{template "sidebar" .}}

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="block1">
<form class="form-group" method="POST" action="/sec/add_user">
    {{if .isfull_form}}
    <h5>登録が完了しました。</h5>
    {{else}}
    <h5>以下の項目を入力してください。</h5>
    {{end}}

    <div >
      <label for="exampleInputEmail1">名前：</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="Name" aria-describedby="emailHelp" >

    </div>
    {{if .isexists_userform.Name}}
    {{else}}
  
      <small class="form-text">
        <font color="red" bgcolor="black">＊名前を入力してください。</font>
      </small>
      {{end}}

    <br >
    <div class="form-group">
      <label for="exampleInputPassword1">学生ID</label>
      <input type="text" class="form-control" name="Student_id" >
    </div>
    {{if .isexists_userform.Student_id}}
    {{else}}
    <small class="form-text">
      <font color="red" bgcolor="black">＊学生IDを入力してください。</font>
    </small>
    {{end}}
    <br >

    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="text" class="form-control" name="Email" >
      </div>
      {{if .isexists_userform.Email}}
      {{else}}
      <small class="form-text">
        <font color="red" bgcolor="black">＊Enailを入力してください。</font>
      </small>
      {{end}}
      <br >
      
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="Password"  >
      </div>
      {{if .isexists_userform.Password}}
      {{else}}
      <small class="form-text">
        <font color="red" bgcolor="black">＊Passwordを入力してください。</font>
      </small>
      {{end}}
      
      <div class="form-group">
        <input type="checkbox" name="Is_superuser" id="check" value="true"/> Adminuser
        </div>
      
        <br >

    <button type="submit" class="btn btn-primary">追加</button>
  </form>
</div>
 
 
</main>
</body>
</html>