<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>物品管理システム</title>
    <!-- スタイルシートはココに入れる -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>

  <!--   jQuery・bootstrapライブラリ読み込み -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!--  /jQuery・bootstrapライブラリ読み込み -->

<!-- 独自ライブラリ読み込み -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js" ></script>
<!--  /独自ライブラリ読み込み -->

<script>
  $(function(){
      // datatableの設定を変更
      $("#table1").DataTable({
          "language": {
              "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
          }
      });
  });
</script>

<body>

{{template "header" .}}
{{template "sidebar" .}}

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="padding-bottom: 10vh;">
  <table id="table1" class="table table-bordered">
  <thead>
    <th>ID</th>
    <th>ジャンル名</th>
  </thead>
  <tbody>
    {{range .classifications}}
    <tr>
        <td><a href="" data-toggle="modal" data-target="#modal{{.Id}}">
            {{.Id}}
        </a></td>
        <td>{{.Name}}</td>
    </tr>
    {{end}}
  </tbody>
</table>

{{range .classifications}}
<div class="modal fade" id=modal{{.Id}} tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">ジャンル名変更</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form {{.Id}} " method="POST" action="/sec/edit_classification">
        <div class="modal-body">
          <!-- Id -->
          <input type=hidden value={{.Id}} autocomplete="off" placeholder={{.Id}} name="Id">
          ジャンル名
          <input class="form-control placeholder-no-fix" type="text" value={{.Name}} autocomplete="off" placeholder={{.Name}} name="Name">
        </div>
        <div class="modal-footer">
          <button type="submit" name="Ischange" class="btn btn-primary" value="true">変更</button>
          <button type="submit" name="Isdelete" class="btn btn-outline-danger" value="true" >削除</button>

        </div>  
      </form>       
    </div>
  </div>
</div>
{{end}}

<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>



</main>
<style>#table1 thead{
  background-color:royalblue;
  color: white;
}
th{
  height: 2.5vh;
  vertical-align: middle;
}
td{
  height: 2.5vh;
}
</style>
</body>
</html>